Django==2.2.13
djangorestframework==3.9.2
Pillow==7.1.0
postgres==2.2.2
psycopg2-binary==2.8.6
django-cors-headers==2.5.0
requests==2.23.0
beautifulsoup4==4.8.2
APScheduler==3.6.0
Celery==4.4.0
gunicorn==19.9.0
redis==3.2.0
django-expiring-token==1.0.2
django-environ==0.4.5
